html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* color: white; */
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal__content {
  /* padding: 20px; */
  border-radius: 12px;
  background-color: white;
  height: 300px;
  width: 400px;
  position: relative;
}

.create-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.calendar-fields {
  background: #e7ffd5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 10px;
}

.fields {
  position: relative;
  width: 360px;
  height: 40px;
  background: #e7ffd5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  padding-left: 10px;
}

.fields::placeholder {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.close_button {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
}

.close_button_div {
  position: relative;
  cursor: pointer;
}

.column_direction {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
}

.size_img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.modal img {
  /* position: relative; */
  /* bottom: 0;
  left: 0; */
  width: 100%;
  height: auto;
  /* background-size: cover; */
  /* background-position: ; */
  /* background-repeat: no-repeat; */
  z-index: -1;
}

.side-bar-avatar {
  background-color: rgba(255, 255, 255, 0.984);
  width: 200px;
  height: 600px;
  border: 1px solid;
  border-color: #d2d1d1;
  overflow: visible;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 15px;
}

#calendar {
  padding-top: 20px;
  width: 1000px;
  /* height: 400px; */
  --fc-border-color: #d2d1d1;

  --fc-button-bg-color: #e7ffd4;
  --fc-button-text-color: #000000;
  --fc-button-border-color: #e7ffd4;
  --fc-button-hover-bg-color: #bfd3ae;
  --fc-button-hover-border-color: #bfd3ae;
  --fc-button-active-bg-color: #bfd3ae;
  --fc-button-active-border-color: #bfd3ae;
}

.position_element_in_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_name {
  position: absolute;
  width: 135px;
  height: 20px;
  background-color: rgba(109, 161, 100, 1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 10px 10px;
}

.click_me {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: rgba(231, 255, 212, 1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  padding: 12px 24px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
}

.click_me::before,
.click_me::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: rgb(7, 7, 7);
}

.click_me::before {
  transform: rotate(90deg);
}

.click_me::after {
  transform: rotate(0deg);
}

.position_avatar {
  margin-top: 20px;
}

.btn-v {
  background-color: #e7ffd5;
  border-color: #e7ffd5;
  border-radius: 15px;
}

.SnackbarItem-variantInfo {
  background-color: #6da141 !important;
}

.sticker-wrapper {
  font-size: 1em;
  margin-top: 120px;
}

.sticker {
  position: relative;
  display: table;
  width: 155px;
  height: 155px;
  /* padding: 1em; */
  border-radius: 10%;
  background: rgb(197, 246, 111);
  box-sizing: border-box;
  overflow: hidden;
}

.sticker div {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 25px;
}

.sticker p {
  font-size: 12px;
  margin-bottom: 10px;
  font-size: 15px;
}

.sticker .fold {
  content: "";
  display: block;
  width: 10em;
  height: 10em;
  position: absolute;
  right: -6em;
  top: -6em;
  border-radius: 100%;
  background: -webkit-linear-gradient(
    -135deg,
    transparent 11.3em,
    #fef2a7 10em,
    #feeda7 10em,
    #fecba7 85%
  );
}

.sticker.yellow {
  background: rgb(247, 181, 106);
  background: -webkit-linear-gradient(
    -135deg,
    transparent 2.82em,
    rgb(251, 181, 100) 0,
    rgba(250, 214, 173, 1)
  );
}

.event-card {
  position: relative;
  width: 140px;
  height: 100px;
  background-color: #e7ffd5;
  padding: 10px;
  border-radius: 10px;
}

.event-card div {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 25px;
}

.event-card p {
  font-size: 12px;
  margin-bottom: 10px;
  font-size: 15px;
}

.event-card .time-text {
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

.event-card .close-icon {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.event-card svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
}
